main {
  text-align: center;
  min-height: 100vh;
  padding: 2rem 2rem 5rem 2rem;
  margin: 0 auto;
  width: 400px;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-primary: #0d6efd;
}

i:hover {
  color: rgb(203, 110, 88) !important;
}

img {
  width: 30px;
  height: auto;
}
.bi-gear-fill {
  cursor: pointer;
  color: #abacad;
}
header h3 {
  color: rgb(203, 110, 88);
  margin: 1.5rem 0 2rem 0;
  font-size: 25px;
}

@media (min-width: 992px) {
  main {
    width: 760px;
  }
  header h3 {
    font-size: 30px;
  }
  .btn-container {
    gap: 30px;
  }
}
