main {
  text-align: center;
  padding: 250px;
  padding-top: 1rem;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 550px;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-primary: #0d6efd;
}

i:hover {
  color: rgb(203, 110, 88) !important;
}
