@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&display=swap');

:root {
  color-scheme: light dark;
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #dad8d8;
  }
}

body {
  font-family: 'Press Start 2P', system-ui !important;
  min-width: 20rem;
  margin: 0;
  height: 100%;
}
