#toolbar {
  background-color: rgb(207, 209, 212) !important;
  max-width: 400px;
  border-radius: 12px;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

#toolbar .btn {
  padding: 5px 8px;
  font-size: 12px !important;
  border-radius: 12px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tab đang active */
#toolbar .active-tab {
  background-color: rgba(249, 246, 246, 0.9);
  color: rgb(203, 110, 88);
}

/* Tab không active */
#toolbar .inactive-tab {
  background-color: transparent;
}

#toolbar .active-tab:hover,
#toolbar .inactive-tab:hover {
  cursor: pointer;
  background-color: rgba(249, 246, 246, 0.5);
  color: #000000;
}
