#toolbar {
  background-color: rgb(207, 209, 212) !important;
  width: 500px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #000000;
}

/* Tab đang active */
.active-tab {
  background-color: rgba(249, 246, 246, 0.9);
  color: rgb(203, 110, 88);
}

/* Tab không active */
.inactive-tab {
  background-color: transparent;
}

.active-tab:hover,
.inactive-tab:hover {
  cursor: pointer;
  background-color: rgba(249, 246, 246, 0.5);
  color: #000000;
}

img {
  width: 30px;
  height: auto;
}
.bi-gear-fill {
  cursor: pointer;
  color: #abacad;
}
h3 {
  color: rgb(203, 110, 88);
  margin: 1.5rem auto;
  font-size: 25px !important;
}
