main {
  text-align: center;
  padding: 1.5rem;
  padding-top: 1rem;
  margin: 0 auto;
  height: 100%;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-primary: #0d6efd;
  background-color: #fafafa !important;
}

h3 {
  color: rgb(203, 110, 88) !important;
  margin: 1.5rem auto;
}

img {
  width: 70px;
  height: auto;
}

.bi-gear-fill {
  cursor: pointer;
  color: rgba(33, 37, 41, 0.75);
}

i:hover {
  color: rgb(203, 110, 88) !important;
}
